.section {
  height: 100vh;
}


#title {

  text-align: center;

}
#work {
  background-color: #72bcd4;
}

#contact{
  text-align: center;
  padding: 1.5rem;
  background-color: #72bcd4;

}

.navbar {
  background-color: #72bcd4;
}
